.test {
    display: flex;
     flex-direction: row;
     width:100%;
    
 }
 
 .card {
   border: 1px solid #ddd;
   box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
   width: 30%;
   padding: 10px;
   margin: 8px;
   text-align: center;
   float: left;
    height: 198px;
 }
 
 
 .card:hover {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card .container {
    padding: 2px 14px;
  }
  
  .card p {
    margin: 14px 0;
  }